@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
.mainDiv {
    display: block;
    background: gainsboro;
}
.formClass {
    display: block;
}
.formHeadingClass {
    margin: auto;
    text-align: center;
}
.titleClass, .noteClass {
    display: block;
    padding-top: 3px;
    margin: auto;
    width: 50%;
}
.labelClass {
    display: block;
    width: 50%;
    margin: auto;
}
.newLabelClass {
    display: block;
    width: 50%;
    margin: auto;
}
.submitClass {
    display: block;
    margin: auto;
}
.tableClass {
    margin: auto;
}

/*Note Styling copy*/
.note {
  float:left;
  width: 400px;
  background: gray;
  margin: 1em;
  font-size:18px;
  color: rgba(0,0,0, .7);
  font-family: 'open sans';
  line-height: 24px;
}

.title {
  text-transform: uppercase;
  background: rgba(255,255,255,.05);
  padding: .5em 1em;
  font-weight: bold;
}

p {
  padding: 0 1em;
}

.red {
  background: #F95C5C;
}
.blue {
  background: #3FC3FF;
}
.yellow {
  background: #FFFC46;
}
.orange {
  background: #FF6D3F;
}
.green {
  background: #96D841;
}
.labelListClass {
    float: right;
    font-size: small;
    margin-right: 0;
    font-weight: normal;
}
